/* ===========================
   Google fonts
   =========================== */
@font-face {
 font-family: 'Lato';
 font-style: normal;
 font-weight: 400;
 src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
 font-family: 'Lato light';
 font-style: normal;
 font-weight: 300;
 src: url('../fonts/Lato-Light.ttf');
}

@font-face {
 font-family: 'Yeseva One';
 font-style: normal;
 font-weight: 400;
 src: url('../fonts/YesevaOne-Regular.ttf');
}

@import "base/variables";
@import "base/base";

@import "layout/header";
@import "layout/navbar";
@import "layout/about";
@import "layout/footer";

@import "module/form";
@import "module/button";
@import "module/item";
